<p id="notice"><%= notice %></p>

<h3 class="shadow p-3">
  <i class="fa fa-file-alt" aria-hidden="true"></i> <%= link_to @exam.name, @exam %> 
  <%= link_to '<i class="float-right fa fa-edit text-warning"></i>'.html_safe, edit_exam_path(@exam) %>
</h3>
<br/>

<div class="p-3 shadow">
  <h5>Nueva Pregunta</h5>
  <%= render 'form', question: @question %>
</div>